:root {
    --primary: #fefcf9;
    --primary-dark: #464545;
    --secondary: #ebdada;
    --text-light: #f3f2f1;
    --text-dark: #383838;
}
* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fefcf9;
    min-width: 100vw;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0px 10px;
    width: 100%;
    background-color: var(--primary-dark);

}

header h1 {
    font-size:60px;
    color: var(--secondary);
    width: 1100px;
}  

ul li a{
    letter-spacing: 2px;
    color: var(--primary);
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
}

ul li {
    list-style: none;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    font-size: 18px;
    height: 100%;
    /* margin-right: 25px; */
}


.navbar a:hover {
    color: var(--secondary);
}

main {
  max-width: 88%;
  margin: 0 auto;
}

main section {
    color: var(--text-dark);
    /* padding-top: 100px; */
    min-height: 30vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

section h2 {
    font-size: 48px;
    padding-right: 20px;
    text-align: right;
    flex-basis: 23%;
    border-right: 3px solid black;
}

section >div {
    flex-basis: 77%;
    padding-left: 10px;

}

.contact ul{
    display: flex;
    padding: 0;
}

.contact ul li {
    padding: 10px
}


.image1 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
    padding-right: 5px;
}

.workbest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workbest a {
    border: 3px solid var(--primary-dark);
    border-radius: 15px;
    height: 180px;
    margin: 0.5em;
    font-size: 0.9rem;
    flex-basis: calc(50% - 1em);
    padding-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.workbest a:first-child {
    min-height: 320px;
    flex-basis: 100%;
}

.workbest a div {
    background-color: var(--primary-dark);
    border-radius: 0 10px 10px 0;
    padding: 8px 10px;
    color: var(--primary);
    text-decoration: none;

}


.image2, .image3 {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: var(--primary-dark);
    border-style: outset;
    box-shadow: 5px 5px 5px var(--text-dark);
    padding: 2px;
    margin: 30px ;
}

.github a {
    color: var(--text-dark);
}


.prework {
    background-image: url(../images/prework.png);
    background-position-x:center;
}
.horiseon {
    background-image: url(../images/horiseon.png)
    
}

@media screen and (max-width: 768px) {
    main section {
        flex-direction: column;
    }
    main section .one {
        padding-top: 140px;
    }
    main section h2 {
        border-right: 0;
        border-bottom: 3px solid var(--primary-dark);
    }
}

@media screen and (max-width: 576px) {
    main section {
        flex-direction: column;
    }

    main section .one {
        padding-top: 140px;
    }

    main section h2 {
        font-size:30px ;
        border-right: 0;
        border-bottom: 3px solid var(--primary-dark);
    }
    
    main section div {
        font-size: 13px;
    }
    header h1 {
        font-size: 40px;
    }
    ul li {
        font-size: 15px;
    }

    .workbest  a {
        font-size: 10px;
    }
}